html, body {
    margin: 0px;
    color: rgb(86, 86, 109);
    background-color: rgb(245, 245, 245);
}

.content {
    display: block;
    padding: 10px;
    margin: 10px 0px;
}

.footer {
    text-align: center;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
    padding-bottom: 5px;
}
.header {
    border-bottom: 1px solid rgb(238, 238, 238);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px auto 0px;
    padding-top: 10px;
    background-color: #f4f4ff;
}

video {
    padding: 5px;
    margin: 0px auto;
}

.tab-pane {
    display: block;
    padding: 20px;
    margin: 30px 20px;
    background-color: #eff8ff;
    border-radius: 10px;
    box-shadow: 3px 0px 15px 0px black, -3px 0px 15px 0px black;
}

#main-content {
    background-color: #e5e5e5;
    border-radius: 5px;
    padding: 10px 20px;
}

#brandlogo {
    display: inline-block;
    float: left;
    margin-bottom: 5px;
    position: relative;
    vertical-align: top;
}
.nav-pills > li > a {
    height: 30px;
    text-align: center;
    vertical-align: center;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: transparent;
    font-weight: bold;
    color:  rgb(86, 86, 109);
}

.nav-pills > li.active > a {
    border-bottom: 2px solid rgb(86, 86, 109);
    border-radius: 0px;
    background-color: transparent;
    color: rgb(86, 86, 109);
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #BCC6CC;
    background-color: transparent;
}


@media (min-width: 1600px){
    #main-wrapper {
        width: 60%;
        margin: 105px auto;
    }
    #brandlogo {
        width: 45%;
        height: 45%;
    }
    .nav {
        margin-top: 20px;
    }
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 800px) and (max-width: 1600px) {
    #main-wrapper {
        width: 60%;
        margin: 65px auto;
    }
    #brandlogo {
        width: 45%;
        height: 45%;
    }
    .nav {
        margin-top: 10px;
    }
    .container {
        max-width: 770px;
    }
}

@media (min-width: 450px) and (max-width: 800px) {
    #main-wrapper {
        width: 100%;
        margin: 50px auto;
    }
    #brandlogo {
        width: 30%;
        height: 30%;
    }
}

@media (max-width: 450px) {
    #main-wrapper {
        width: 100%;
        margin: 40px auto;
    }
    #brandlogo {
        display: none;
    }
    .nav-pills > li > a {
        height: 25px;
        padding: 5px 5px;
        margin: 10px auto 5px;
    }
}
