html, body {
    margin: 0px;
    color: rgb(86, 86, 109);
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

hr {
    border-top: 1px solid rgb(150, 150, 175);
}

.content {
    display: block;
    padding: 10px;
    margin: 10px 0px;
}

.footer {
    text-align: center;
    border: 0px;
    border-top: 1px solid rgb(150, 150, 170);
    background-color: transparent;
    padding: 20px 15px 5px;
}
.header {
    border-bottom: 2px solid rgb(150, 150, 170);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px auto 0px;
    padding-top: 10px;
    background-color: #f4f4ff;
    padding: 5px 10px 1px;
    z-index: 1000;
}

.image-container {
    margin: 10px auto;
    padding: 5px;
    width: 100%;
    display: block;
}

.full-image {
    width: 95%;
    margin: 10px auto;
    display: block;
}

.quarter-image {
    width: 20%;
    display: inline-block;
    margin: 10px 15px;
}

video {
    padding: 5px;
    margin: 0px auto;
    width: 100%;
}

.panel-default {
    margin: 10px 15px;
    background-color: #fffdfa;
    border-color: rgb(75, 75, 75);
}

.panel-default > .panel-heading {
    background-color: #f5f5f5;
}

.tab-pane {
    margin: 10px 15px;
    background-color: transparent;
}

#main-content {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
}

#brandlogo {
    display: inline-block;
    float: left;
    margin-bottom: 5px;
    position: relative;
    vertical-align: top;
    height: auto;
}
.nav-pills > li > a {
    height: 30px;
    text-align: center;
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: transparent;
    font-weight: bold;
    color: rgb(86, 86, 109);
}

.nav-pills > li.active > a {
    border-bottom: 2px solid rgb(86, 86, 109);
    border-radius: 0px;
    background-color: transparent;
    color: rgb(86, 86, 109);
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #BCC6CC;
    background-color: transparent;
}


@media (min-width: 1600px){
    #main-wrapper {
        width: 75%;
        margin: 105px auto;
    }
    #brandlogo {
        width: 45%;
    }
    .nav {
        margin-top: 20px;
    }
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 800px) and (max-width: 1600px) {
    #main-wrapper {
        width: 70%;
        margin: 65px auto;
    }
    #brandlogo {
        width: 45%;
    }
    .nav {
        margin-top: 10px;
    }
    .container {
        max-width: 770px;
    }
}

@media (min-width: 450px) and (max-width: 800px) {
    #main-wrapper {
        width: 100%;
        margin: 40px auto;
    }
    #brandlogo {
        width: 30%;
    }
}

@media (max-width: 450px) {
    #main-wrapper {
        width: 100%;
        margin: 40px auto;
    }
    #brandlogo {
        display: none;
    }
    .nav-pills > li > a {
        height: 25px;
        padding: 5px 5px;
        margin: 10px auto 5px;
    }
}
