@charset "utf-8";

/* CSS Document */

#flexform{
    width:100%;
    margin:0px;
    position:relative;
}
#flexform td{
    vertical-align:top;
    text-align:right;
    line-height:25px;
}
#flexform input, #flexform textarea{
  /*  width:339px;*/
    margin:0px 0px 5px 5px;
    padding:2px 3px;
    font-size:14px;
    font-family:Verdana, Geneva, sans-serif;
    border: solid 1px #999;
    background-color:#eee;
    background-image:url(images/input-inner-shadow.png);
    background-position:-1px 0px;
    background-repeat:no-repeat;
}
#flexform textarea{
    height:95px;
    overflow:hidden;
}
#flexform input[type='submit']{
    width:auto;
    background-image:none;
    padding:6px 18px;
    cursor:pointer;
    background-color:#f7941d;
    font-weight:700;
    color:#fff;
    text-transform:uppercase;
    font-size:16px;
}
#flexform input[type='submit']:hover{
    background-color:#e0861a;
}



#flexform label{
   /* width:216px;*/
    display:block;
    margin:0px;
    padding:6px 4px;
    font-size:13px;
    border: solid 1px #ccc;
    background-color:#e1e7ef;
/*  background-image:url(/css/images/input-bg.png);
    background-position:top left;
    background-repeat:no-repeat; */
    padding-left:20px;
}
#flexform .check{
  /*  width:20px;*/
    padding:1px 0px;
    border:none;
    background:none;
    margin-left:-20px;
}




#flexform #capchatxt{
    line-height:14px;
}
#flexform #capchatxt.TxtErr{
    color:#F00;
}

#flexform .inputbutton{
    width:auto;
    float:right;
    padding:1px 5px;
    background-color:#fff;
}


#flexform select{
   /* width:240px;
    width:174px;*/
    margin:0px;
    padding:1px;
    font-size:13px;
    font-family:Verdana, Geneva, sans-serif;
    overflow:hidden;
    background-color:#e1e7ef;
/*  background-image:url(/css/images/input-bg.png);
    background-position:top left;
    background-repeat:no-repeat; */
}


/* flexHentTilbud */

#flexHentTilbud{}
#flexHentTilbud td{
    vertical-align:top;
    padding:3px 0px;
}
#flexHentTilbud td td{
    padding:0px;
}
#flexHentTilbud td hr{
    margin:0px 0px 5px 5px;
   /* width:298px;*/
    text-align:left;
}

#flexHentTilbud input:focus{background-color:#fff;}
#flexHentTilbud td:hover{background-color:#ded;}

#flexHentTilbud input, #flexHentTilbud textarea, #flexHentTilbud select{
    display:inline-block;
  /*  width:139px;*/
    margin:0px 0px 15px 3px;
    padding:2px 3px;
    font-size:14px;
    font-family:Verdana, Geneva, sans-serif;
    border: solid 1px #999;
    background-color:#eee;
    background-image:url(images/input-inner-shadow.png);
    background-position:-1px 0px;
    background-repeat:no-repeat;
}
#flexHentTilbud textarea{
   /* width:293px;*//* 4/6 */
    height:139px;
    overflow:hidden;
}
#flexHentTilbud label{
    color:#999;
    font-size:11px;
    position:absolute;
    margin:19px 0px 0px 4px;
}
#flexHentTilbud label sup{
    line-height:10px;
    vertical-align:text-top;
}
#flexHentTilbud select{
   /* width:224px;*//* 3/6 */
    font-size:14px;
    padding:1px 1px 1px 2px;
}
#flexHentTilbud #Pakkeløsning{
    background-color:#a9c7de;
}
#flexHentTilbud input[type='submit']{
    float:right;
    margin:0px 8px;
    background-image:none;
    padding:6px 18px;
    cursor:pointer;
    background-color:#f7941d;
    font-weight:700;
    color:#fff;
    text-transform:uppercase;
    font-size:16px;
}

#flexHentTilbud input[type='submit']:hover{
    background-color:#e0861a;
}

/* Input */
#flexHentTilbud #_cc
{width:24px;/* 1/12 */}
#flexHentTilbud #_cc
{width:37px;/* 1/9 */}

#flexHentTilbud #DD,
#flexHentTilbud #MM
{width:31px;/* 5/48 */}
#flexHentTilbud #År
{width:49px;/* 6/48 */}

#flexHentTilbud #fra_Postnummer,
#flexHentTilbud #til_Postnummer,
#flexHentTilbud #fra_BoligAreal,
#flexHentTilbud #til_BoligAreal,
#flexHentTilbud #fra_Værelser,
#flexHentTilbud #til_Værelser
{width:62px;/* 1/6 */}
#flexHentTilbud #Telefon,
#flexHentTilbud #fra_Byen,
#flexHentTilbud #til_Byen
{width:216px;/* 3/6 */}
#flexHentTilbud #Email
{width:293px;/* 4/6 */}
#flexHentTilbud #fra_Adresse,
#flexHentTilbud #til_Adresse
{width:370px;/* 5/6 */}
#flexHentTilbud #Indbo
{width:447px;/* 6/6 */}

/* Select */

#flexHentTilbud #fra_Elevator,
#flexHentTilbud #til_Elevator,
#flexHentTilbud #Fleksibel_dato,
#flexHentTilbud #Nedpakning
{width:70px;/* 1/6 */}
#flexHentTilbud #fra_Parkeringafstand,
#flexHentTilbud #til_Parkeringafstand,
#flexHentTilbud #Flyttemænd
{width:147px;/* 2/6 */}
#flexHentTilbud #Pakkeløsning
{width:224px;/* 3/6 */}

#flexHentTilbud #SendHidden, #flexHentTilbud #TopSendHidden{
    color:#390;
    margin:5px;
    font-size:20px;
    visibility:visible;
    display:none;
}






/* MiniForm */

#MiniForm{
    border:solid 1px #b0b0b0;
    background-color:#f0f0f0;
    width:244px;
    padding:5px;
    margin:10px;
    color:#909090;
    position:relative;
/*  -moz-border-radius: 5px; /* Firefox fix */
/*  -webkit-border-radius: 5px; /* safarie fix */
    border-radius:5px;
    behavior: url(/css/tools/ie-css3.htc);
    z-index:10;
}
#SendHidden{
    color:#390;
    font-size:14px;
    margin-top:3px;
    float:left;
    visibility:hidden;
}

#LandingMiniForm{
    width:200px;
    margin-left:-20px;
    font-size:9px;
    margin-bottom:5px;
}
#LandingMiniForm input{
    width:118px;
    background-image:url(/css/images/input-bg.png);
    background-position:top left;
    background-repeat:no-repeat;
    border:solid 1px #bbb;
    padding:1px;

}
#LandingMiniForm textarea{
    overflow:hidden;
    width:188px;
    height:54px;
    font-family:Verdana, Geneva, sans-serif;
    background-image:url(/css/images/input-bg.png);
    background-position:top left;
    background-repeat:no-repeat;
    border:solid 1px #bbb;
    padding:1px;
}
#LandingMiniForm .formbutton{
    width:auto;
    float:right;
    padding:1px 5px;
}
#LandingMiniForm #SendHiddenLeft{
    color:#390;
    font-size:11px;
    margin-top:3px;
    float:left;
    visibility:hidden;
}


.FeldOK {
    border:solid 1px #b0b0b0;
/*  background:inherit; */
    background-color:#fff;
}
.FeldErr {
    border:solid 1px #ff0000 !important;
    background-color:#e2bb77 !important;
}
