/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*
@import url('flex/top.css');
@import url('flex/topmenu.css');
@import url('flex/page.css');
@import url('flex/sidemenu.css');
@import url('flex/footer.css');
@import url('flex/tekst.css');
@import url('flex/tools.css');
@import url('flex/landing.css');
*/
@import url('../css/flexform.css');

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
    overflow-y:scroll;
    background-color: #152735;
    width:100%;
    height:100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    /*
    background-color:#E4E4E4;

    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;

    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    */
   /* margin:0px;
    padding:0px;*/
    /*text-transform:uppercase;*/
    width:100%;
    height:100%;

    background-color: #152735;
    color: #2C3D49;
    height:auto;
    position:static;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500;
    font-size:15px;
    line-height:20px;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/*
    ALPHA STAGE STUDIOS ADDITIONS
    rami@alphastagestudios.com
*/

section.tabContent {
    display: block;
    padding: 5px 1px 5px 1px;
    width: 100%;
    text-align: left;
    float: left;
}
section.tabContent.hide {
   display: none;
}

nav {
    display: block;
}
nav.hide {
   display: none;
}


ul.MenuBarHorizontal {
    width: 100%;
    padding-bottom: 20px;
    -webkit-padding-start: 10px;
}
ul.MenuBarHorizontal li {
    list-style-type: none;
    width:auto;
    position: relative;
    text-align: left;
    float: left;
    font-size:20px;
    padding-right: 20px;
}
ul.MenuBarHorizontal ul {
    list-style-type: none;
    border-bottom: 2px #f7941d;
}
ul.MenuBarHorizontal a {
    display: block;
    color: #B9BEC2;
    text-decoration: none;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
}
ul.MenuBarHorizontal a:hover,
ul.MenuBarHorizontal a:focus {
    color: #fff;
    border-bottom:solid 5px #f7941d;
}

h1 {
    color: #dddddd;
    font-size:25px;
    font-weight:normal;
    overflow:visible;
    padding:2px;
    text-align:center;
}
h2 {
    font-size: 16px;
}
h3 {
    font-size: 14px;
}

img.brand {
    background-color: #335E80;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border:none;
    width: 100%;
}

table.fronttable {
    border: none;
    position: relative;
    width: 100%;
}
table.fronttable tr {
    width: 100%;
}
table.fronttable tr td {
    width: 45%;
}

a.tablink {
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    width: auto;
    position: relative;
}

img.boximg {
    width: auto;
    position: relative;
}

p.boxtext {
    z-index: 100;
    position: relative;
    top: -20px;
    width: auto;
}

nav.navbar-vertical {
    font-family: 'Ubuntu', sans-serif;
    float: left;
    font-size: 18px;
    width: 25%;
    display: block;
    color: #2C3D49;
    line-height: 30px;
}
nav.navbar-vertical ul {
    background-color: #152735;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
}

nav.navbar-vertical li {
    list-style: none;
    display: list-item;
    padding-bottom: 5px;
    margin-left: -30px;
}
nav.navbar-vertical li.selected {
    color: #ffffff;
    background-color: #f7941d;
}

nav.navbar-vertical li a {
    color: #aaaaaa;
    text-decoration: none;
    position: relative;
    display: inline-block;
    color: #B9BEC2;
}
nav.navbar-vertical li.selected a {
    color: #ffffff;
    text-decoration: none;
}

article.innerTabContent {
    display: inline-block;
    /*padding: 1px 5px 1px 5px;*/
    width: 70%;
    text-align: left;
    float: right;
    background-color: #bbbbbb;
    margin-left: -50px;
}
article.innerTabContent.hide {
    display: none;
}
