/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*
@import url('flex/top.css');
@import url('flex/topmenu.css');
@import url('flex/page.css');
@import url('flex/sidemenu.css');
@import url('flex/footer.css');
@import url('flex/tekst.css');
@import url('flex/tools.css');
@import url('flex/landing.css');
*/
@import url('../css/flexform.css');

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/*
    ALPHA STAGE STUDIOS ADDITIONS
    rami@alphastagestudios.com
*/

/* DEFAULTS */
html, body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */

    overflow-y:scroll;
    background-color: #404040;
    width:100%;
    height:100%;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    display: block;
    color: #25445d;
}

a {
    font-weight: bold;
    color: #de862e; /*#f7941d;*/
    text-decoration: none;
}

hr {
    color: #404040;
}

p, h1, h2, h3 {
    margin-right: 10px;
    margin-left: 10px;
}

html, body, p, a, h3 {
    font-size: 20px;
}

/* HEADINGS */

h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    padding: 2px;
    text-align: center;
}
h2 {
    font-size: 24px;
    color: #de862e; /*#f7941d;*/
}
h3 {
    color: #dddddd;
}

/* NAVIGATION BAR */
#nav_bar {
    width: 100%;
    height: 90px;
    display: block;
    float: left;
    background-color: #25445d;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px auto;
    z-index: 999;
}
#nav_bar.hide {
    display: none;
}

#nav-title {
    border-bottom:solid 5px #f7941d;
    text-align: center;
    margin: 10px auto 0px;
    vertical-align:middle;
    width: 30%;
    display: block;
    position: relative;
}

ul.MenuBarHorizontal {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    display: block;
    position: relative;
}
ul.MenuBarHorizontal li {
    list-style-type: none;
    width: 25%;
    height: 30px;
    position: relative;
    text-align: center;
    font-size: 22px;
    background-image:url(images/nav_button_up.png);
    background-size: 100% 100%;
    float: left;
    display: block;
}
ul.MenuBarHorizontal li.active {
    background-image:url(images/nav_button_down.png);
    background-size: 100% 100%;
}
ul.MenuBarHorizontal a {
    color: #B9BEC2;
    text-decoration: none;
}
ul.MenuBarHorizontal li.active a {
    color: #ffffff;
}

/* INDEX PAGE */
img.brand {
    background-color: #25445d;/*#335E80;*/
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border: none;
    width: 95%;
    margin: 0px auto;
}
table.fronttable {
    border: none;
    position: relative;
    height: 80%;
    display: table;
    margin: 0px auto;
}
#frontbox1 {
    background-color: #a9c7de;
}
#frontbox2 {
    background-color: #B9BEC2;
}
#frontbox3 {
    background-color: #DCDFE1;
}
#frontbox4 {
    background-color: #f7941d;
}
img.boximg {
    top: 50px;
    width: 100%;
    position: relative;
}
p.boxtext, a.tablink {
    z-index: 100;
    position: relative;
    color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

/* TELEHPONE BOX */
#phonebox {
    color: #ffffff;
    background-image: url(images/phonebox.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 10px 20px;
    display: block;
    position: relative;
    text-align: right;
    width: 40%;
}

/* CONTAINER TYPES */
#navbuffer {
    display: block;
    padding-top: 70px;
    width: 100%;
}

.tabContent {
    display: block;
    padding-top: 15px;
    width: 100%;
    text-align: left;
    float: left;
    background-color: #404040;
    margin: 0px auto;
    z-index: 0;
}
.tabContent.hide {
   display: none;
}

.innerTabContent {
    display: block;
    text-align: left;
    float: left;
    background-color: #bbbbbb;
    width: 100%;
    z-index: 10;
    margin: 0px auto;
}

.container {
    background-color: #bbbbbb;
    display: block;
    padding: 10px 10px 10px 10px;
    z-index: 20;
    margin: 0px auto;
}

#index {
    background-color: #25445d;
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

/*
Dark Blue: #152735 - NEW: #25445d;
Orange highlight: #f7941d
Orange text: #de862e
Dark grey: #404040
Light grey: #bbbbbb
*/
