/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/*
@import url('flex/top.css');
@import url('flex/topmenu.css');
@import url('flex/page.css');
@import url('flex/sidemenu.css');
@import url('flex/footer.css');
@import url('flex/tekst.css');
@import url('flex/tools.css');
@import url('flex/landing.css');
*/
@import url('../css/flexform.css');

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic);

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

/* Portrait layout (default) */
.app {
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

/*
    ALPHA STAGE STUDIOS ADDITIONS
    rami@alphastagestudios.com
*/

html, body {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */

    overflow-y:scroll;
    background-color: #152735;
    width:100%;
    height:100%;
    font-family: 'Ubuntu', sans-serif;
}

.tabContent {
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    width: 100%;
    text-align: left;
    float: left;
}
.tabContent.hide {
   display: none;
}

.innerTabContent {
    display: inline-block;
    width: 65%;
    text-align: left;
    float: right;
    background-color: #bbbbbb;
    margin-left: -50px;
}
.innerTabContent.hide {
    display: none;
}

nav {
    display: block;
}
nav.hide {
   display: none;
}

ul.MenuBarHorizontal {
    width: 100%;
    padding-bottom: 15px;
    -webkit-padding-start: 10px;
    list-style-type: none;
    display: block;
}
ul.MenuBarHorizontal li {
    list-style-type: none;
    width:auto;
    position: relative;
    text-align: left;
    float: left;
    font-size:18px;
    padding-right: 15px;
}
ul.MenuBarHorizontal a {
    color: #B9BEC2;
    text-decoration: none;
    text-align:left;
}
ul.MenuBarHorizontal a:hover,
ul.MenuBarHorizontal a:focus {
    color: #ffffff;
    border-bottom:solid 5px #f7941d;
}

h1 {
    color: #dddddd;
    font-size:26px;
    font-weight:normal;
    padding:2px;
    text-align:center;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}

img.brand {
    background-color: #335E80;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
    border:none;
    width: 100%;
}

table.fronttable {
    border: none;
    position: relative;
    width: 90%;
}
table.fronttable tr {
    width: 90%;
}
table.fronttable tr td {
    width: 45%;
}

a.tablink {
    color: #ffffff;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    position: relative;
}

img.boximg {
    width: 45%;
    height: 40%;
    position: relative;
}

p.boxtext {
    z-index: 100;
    position: relative;
    top: -20px;
    width: auto;
}

nav.navbar-vertical {
    float: left;
    font-size: 16px;
    width: 25%;
    display: block;
    color: #2C3D49;
}

nav.navbar-vertical li {
    list-style: none;
    display: list-item;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-left: -30px;
}
nav.navbar-vertical li.selected {
    color: #eeeeee;
    background-color: #f7941d;
}

nav.navbar-vertical li a {
    position: relative;
    color: #B9BEC2;
}
nav.navbar-vertical li.selected a {
    color: #ffffff;
}
