<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.alphastagestudios.danmarksflyttemandapp"
        versionCode = "2"
        version     = "2.0.0">

    <name>Danmarks Flyttemand App</name>

    <description>
        Få et flyttetilbud fra Danmarks Flyttemand her og nu. RING på 20 54 54 54. Vi garanterer en effektiv flytning.
    </description>

    <author href="http://www.alphastagestudios.com" mail="rami@alphastagestudios.com">
        Rami Ahmed Bock and Daniel Thormod Staal
    </author>

    <preference name="fullscreen" value="true" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="disable-cursor" value="true" />

    <icon src="img/logo_small.png" />

    <access origin="*" />

<!--
    <access origin="https://*.danmarksflyttemand.dk*" />
    <access origin="http://*.danmarksflyttemand.dk*" />
    <access origin="http://*.google.com*" />
    <access origin="https://*.google.com*" />
    <access origin="http://*.googleapis.com*" />
    <access origin="https://*.googleapis.com*" />
    <access origin="http://*.jquery.com*" />
    <access origin="https://*.jquery.com*" />
    <access origin="http://127.0.0.1*"/>
-->

    <feature name="http://api.phonegap.com/1.0/device"/>
    <!-- <feature name="http://api.phonegap.com/1.0/battery"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/camera"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/contacts"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/file"/> -->
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <!-- <feature name="http://api.phonegap.com/1.0/media"/> -->
    <!-- <feature name="http://api.phonegap.com/1.0/network"/> -->
    <feature name="http://api.phonegap.com/1.0/notification"/>

</widget>
